/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: black;
    color: #FFF;
    text-align: center;
    padding: 30px;
  }
  
  header h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 18px;
  }
  
  main {
    padding: 30px;
  }
  
  h2 {
    color: #3367D6;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .timeline {
    margin-top: 30px;
  }
  
  .timeline-item {
    margin-bottom: 30px;
    margin-left: 2rem;
    position: relative;
  }
  
  .timeline-item::before {
    content: '';
    position: absolute;
    top: 0.25rem;
    left: -2rem;
    width: 20px;
    height: 20px;
    background-color: #3367D6;
    border-radius: 50%;
  }
  
  .timeline-item h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #EAEAEA;
    text-align: center;
    padding: 20px;
  }

  .image-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    }
  
  

  /* Estilos para o ícone do LinkedIn */
.linkedin-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
  
  
  /* Responsividade */
  @media (max-width: 768px) {
    header h1 {
      font-size: 24px;
    }
  
    header p {
      font-size: 16px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    h3 {
      font-size: 18px;
    }
  
    p {
      font-size: 14px;
    }
  
    ul {
      font-size: 14px;
    }
  }
    